.form{
    margin-left: 500px;
    height: 500px;
    width: 700px;
    text-align: center; 
}

img {
    margin-top: 50px;
}



.pass {
    height: 30px;
    width: 400px;
    margin-top: 20px;
    display: inline-flex;
   
}

.error-text{
    width: 65%;
    margin: 4px auto 0;
    text-align: left;
    font-size: 18px;
    color: red;
}